<ion-view title="Chat">
  <!--<div class="h1 title">Header Buttons</div>-->
  <!--<ion-nav-buttons side="primary">-->
    <!--&lt;!&ndash;<button class="button button-icon ion-power" ng-click="logout()"></button>&ndash;&gt;-->
    <!--<button class="button button-icon icon ion-navicon"></button>-->
  <!--</ion-nav-buttons>-->
  <ion-nav-buttons side="secondary">
    <!--<button class="button button-icon ion-ios-chatboxes" ng-click="addMessage()"></button>-->
    <button class="button button-clear button-stable button-icon ion-plus"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list">

      <a class="item item-avatar item-icon-right item-text-wrap" ng-repeat="conva in conversations" href="#/tab/chats/{{conva.id}}">
        <img ng-src="{{conva.face}}">
        <h2>{{conva.name}}</h2>
        <p>{{conva.lastText}}</p>
        <i class="icon icon-accessory text-right"><small>{{conva.time}}</small></i>
      </a>

    </div>
  </ion-content>
</ion-view>
