<ion-view view-title="Profile Edit">

  <ion-nav-buttons side="left">
    <a ng-click="myGoBack()" class="button button-icon icon ion-ios-arrow-back"></a>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-small" ng-click="forgetPassword()">Save</button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div class="edit-profile">
      <img align="center"
           src="https://exelord.com/ember-initials/images/default-d5f51047d8bd6327ec4a74361a7aae7f.jpg">
      <a class="profile-button button icon ion-camera button-calm button-small"></a>
    </div>
    <div class="list practera-forms">

      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Suhr">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
    </div>
    <div class="list">
      <button ng-click="forgetPassword()" class="item button icon ion-locked button-block button-calm">
        Change Password
      </button>
    </div>
  </ion-content>

</ion-view>
