<ion-view view-title="Practera Chat App">

  <!--Start - Navigation bar button for create new group-->
  <ion-nav-buttons side="secondary">
    <a class="button button-icon button-clear icon ion-compose button-small" href="#/contact-list/group"></a>
  </ion-nav-buttons>
  <!--End - Navigation bar button for create new group-->

  <ion-content class="padding">
    <!--Start - Group chat search-->
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    <!--End - Group chat search-->
    <!--Start - Group chat list-->
    <ion-list>
      <ion-item class="item-avatar-left" ng-repeat="item in items" href="#/group-chat-view/{{item.id}}">
        <img ng-src="{{item.image}}" src="https://cdn.pixabay.com/photo/2016/04/15/18/05/computer-1331579_960_720.png">
        <h2>{{item.name}}</h2>
        <p>{{item.lastText}}</p>
        <span class="badge badge-assertive">5</span>
        <!--<div class="row">-->
        <!--<div class="col col-25">-->

        <!--</div>-->
        <!--<div class="col col-50 text-left col-center">-->
        <!---->
        <!--</div>-->
        <!--</div>-->
      </ion-item>
    </ion-list>
    <!--End - Group chat list-->
  </ion-content>
</ion-view>
